<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="emitClickEvent()" >
            <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/images/logo/logo.png" alt="Logo" width="200px;" style="margin: 20px;" >

        
        <span class="example-spacer"></span>

        <button  mat-button fxFlexHide.gt-xs style="margin-right: 20px;">Nosotros</button>
        <button  mat-button fxFlexHide.gt-xs  style="margin-right: 20px;">Alianzas</button>
        <button mat-raised-button fxFlexHide.gt-xs>Contactanos
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </button>
    </mat-toolbar>
</p>