/* Estilo para el título personalizado */
.custom-title {
    color: blue; /* Cambiar el color del texto a azul */
  }
button{
    padding:6px;
    margin-bottom: 10px;
    font-size: 15px;
}
google-map{
    margin-top: 10px;
}